[submodule "nextstrain"]
	path = nextstrain
	url = https://github.com/animesh-server-dot-files/nextstrain.git
[submodule "usher"]
	path = usher
	url = https://github.com/animesh-server-dot-files/usher.git
[submodule "golang"]
	path = golang
	url = https://github.com/animesh-server-dot-files/go.git
